.button-container {
    width: 100%;
    text-align: center;
    button {
        @include theme-aware('background-color', 'lines-focus');
        color: #FAFAFA;
        border-radius: 30px;
        padding: 15px 32px;
        font-size: 18px;
        border: 2px solid #ffffff;
        cursor: pointer;
        outline: 0;
    }
}