.radio-btn-container {
    margin-bottom: 50px;
    h3 {
        margin-bottom: 20px;
        @include theme-aware('color', 'font');
        font-weight: 300;
    }
    .radio-btn-wrapper {
        display: flex;
        height: 40px;
        div {
            flex-grow: 1;
            margin: 0px 5px;
            position: relative;
            input {
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
            label {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                z-index: -1;
                text-align: center;
                border: 2px solid;
                @include theme-aware('color', 'font');
                span {
                    display: block;
                    padding: 12px 0px;
                }
            }
        }
        input[type="radio"]:checked+label {
            @include theme-aware('background', 'font');
            @include theme-aware('color', 'background');
        }
    }
}