.contact-card-container {
    margin: 10px 20px 10px 0px;
    padding: 30px 0px;
    //background-color: #ffffff;
    //@include theme-aware('background-color', 'focus');
    //border-radius: 10px;
    & > div {
        padding: 20px 0px;
        border-bottom: 2px solid #FAFAFA;
        .card-img {
            background: #FAFAFA;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 20px;
        }
        a {
            @include theme-aware('color', 'font');
        }
    }
    & > div:last-of-type {
        border-bottom: none;
    }
}